.album-section {
    padding: 60px 0;
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.album-card {
    background: #111;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: 0.4s ease;
    border: 1px solid #333;
}

.album-card:hover {
    transform: translateY(-6px);
    border-color: #828282;  
}

.album-image {
    position: relative;
}

.album-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.album-detail img {
    margin-top: 30px;
}

.album-year {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #737373;
    color: #fff;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 4px;
}

.album-content {
    padding: 20px;
    color: #fff;
}

.album-title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.5);
    border-bottom: 2px solid #ff0101dc;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}


.album-desc {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 15px;
}
.album-subtitle {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
    color: #000000; /* Dark blue-gray for better readability */
    margin-top: 80px;
    margin-bottom: 30px;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1); /* Subtle text shadow */
}

.album-action a {
    display: inline-block;
    transition: all 0.3s ease;
}

.custom-btn {
    background-color: #616161; /* Pleasant blue */
    color: #fff;
    border-radius: 50px;
    padding: 12px 35px; /* Slightly larger padding */
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.custom-btn:hover {
    background-color: #575757; /* Slightly darker blue on hover */
    transform: scale(1.05);
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
    text-decoration: none;
}

/* Additional styling for the date text */
.date-text {
    font-family: 'Playfair Display', serif;
    color: #7f8c8d; /* Gray color for date */
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
}

/* Styling for the number */
.number-display {
    font-size: 72px;
    color: #3498db; /* Matching the button color */
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
}
.album-footer {
    font-size: 13px;
    color: #ffffff;
}
