
.about {
	padding-top: 0;
}

.about.about--page {
	padding-top: 80px;
	padding-bottom: 80px;
}

.about.about--page .section-title {
	margin-bottom: 28px;
}

.about.about--page .section-title h2 {
	line-height: 55px;
}

.about.about--page .about__text {
	padding-top: 15px;
}

.about.about--page .about__text p {
	color: #111111;
}

.about__text {
	padding-top: 110px;
}

.about__text p {
	margin-bottom: 10px;
}
.about__pic img {
    margin-top: 100px; /* atau sesuaikan angka sesuai kebutuhan */
	max-width: 100%;
    width: 125%;
    height: auto;
}

/*---------------------
  About Pic
-----------------------*/
.services__content h2 {
	font-size: 36px;
	font-weight: 700;
	color: #222;
  }
  
  .services__content p {
	font-size: 18px;
	color: #555;
  }
  
  .services__image {
	position: relative;
	overflow: hidden;
  }
  
  .services__image img {
	width: 100%;
	border-radius: 15px;
	transition: 0.5s;
  }
  
  .services__image:hover img {
	transform: scale(1.05);
  }
  
  .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .play-btn:hover {
	background: rgba(0, 0, 0, 0.85);
	transform: translate(-50%, -50%) scale(1.1);
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }
  